// CUSTOM: change colors and sizes

$code-background: #f5f5f5;
$code-default: #313131;

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

.post {
    a {
        color: #f92672;
    }

    div.MathJax_Display {
        overflow: hidden;
    }
}

// article div.highlight pre {
// }

pre.highlight {
    background-color: $code-background;
    code {
        background-color: $code-background;
        color: $code-default
    }
}
